@font-face {
    font-family: 'Font';
    src: url(./../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

/*Página*/
html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    background-color: #000000;
    color: #ffffff;
    font-family: 'Font';

    margin: 0;
    padding: 0;
}

body, main {
    display: flex;
    flex-direction: column;
}

/*Encabezado*/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15vw;

    width: 100vw;
    height: 5vh;

    background-color: #161414;
}

/*Navegadores*/
header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2vw;
}

button {
    background-color: darkgoldenrod;
    color: #000000;
    height: 4vh;
    width: 7vw;
    position: relative;
}

