@font-face {
  font-family: 'boldFont';
  src: url('/Dia4/fonts/AmazonEmber_Bd.ttf');
}

@font-face {
    font-family: 'lightFont';
    src: url('/Dia4/fonts/AmazonEmber_Lt.ttf');
}

body {
    background: transparent url(./../recursos/FondoTwitch.png) 0% 0% no-repeat padding-box;;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

.textoPortada1 {
    top: 517px;
    left: 389px;
    width: 1151px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'boldFont';
    position: absolute;
    text-align: left;
    font-size: 60px;
}

.textoPortada2 {
    font-family: 'lightFont';
    top: 608px;
    left: 380px;
    width: 1160px;
    height: 102px;
    position: absolute;
    text-align: center;
    font-size: 30px;
}

.Prime {
    position: absolute;
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
    background: transparent url('./../recursos/Prime.png') 0% 0% no-repeat padding-box;
    line-height: 36px;

}

.Sign-UpButton {
    position: absolute;
    top: 755px;
    left: 730px;
    width: 458px;
    height: 104px;
    border-radius: 52px;
    font-size: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    text-align: center;
    line-height: 90px;
    font-family: lightFont;
}

/* 
.Seccion1 {
    background-color: aqua;
    border-radius: 45px;
}

lupita {
    background-image: url(/Dia4/recursos/Lupita.png);
    background: transparent;
}

#Cel{

}
#Mac{

}
#Pc{

} */
/* 

header{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 12rem;
    height: 3rem;
    border-radius: 30px;
} */