@font-face {
  font-family: 'boldFont';
  src: url('/Dia4/fonts/AmazonEmber_Rg.ttf');
}

@font-face {
    font-family: 'lightFont';
    src: url('/Dia4/fonts/AmazonEmber_Lt.ttf');
}

.capa {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: transparent url('./../recursos/FondoTwitch.png') 0% 0% no-repeat padding-box;
    position: absolute;
}

.nigaBackground {
    top: 0px;
    left: 2px;
    width: 1918px;
    height: 4149px;
    background: transparent url(./../recursos/nigabackground.png) 0% 0% no-repeat padding-box;
    position: absolute;
}

a {text-decoration: none; color: black; }

.textoPortada1 {
    top: 517px;
    left: 389px;
    width: 1151px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'boldFont';
    position: absolute;
    text-align: left;
    font-size: 60px;
}

.textoPortada2 {
    font-family: 'lightFont';
    top: 608px;
    left: 380px;
    width: 1160px;
    height: 102px;
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}

.Prime {
    position: absolute;
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
    background: transparent url('./../recursos/Prime.png') 0% 0% no-repeat padding-box;
    line-height: 36px;

}

.Sign-UpButton {
    position: absolute;
    top: 755px;
    left: 730px;
    width: 458px;
    height: 104px;
    border-radius: 52px;
    font-size: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    text-align: center;
    line-height: 90px;
    font-family: 'lightFont';
}

.Seccion1 {
    top: 1106px;
    left: 64px;
    width: 1792px;
    height: 567px;
    position: absolute;
    background-color: #00A8E1;
    border-radius: 108px;

}

.lupita {
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
    background: transparent url('./../recursos/Lupita.png') 0% 0% no-repeat padding-box;
    position: absolute;
}




header{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.login{
    top: 30px;
    left: 1695px;
    width: 205px;
    height: 54px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    border-radius: 52px;
    background-color: #FFFFFF;
    font-family: 'lightFont';
    color: #000000;
    line-height: 50px;
    border: 1px solid #000000
}

.titulo1 {
    left: 400px;
    width: 1200px;
    height: 60px;
    position: absolute;
    color: #FFFFFF;
    font-size: 60px;
    font-family: 'boldFont';
    text-align: left;
}

.textoRect1 {
    position: absolute;
    top: 380px;
    left: 300px;
    width: 1250px;
    color: #FFFFFF;
    font-size: 35px;
    font-family: 'lightFont';
    text-align: center;
}

.Seccion2 {
    top: 1717px;
    left: 64px;
    width: 1792px;
    height: 724px;
    position: absolute;
    background-color: #00A8E1;
    border-radius: 108px;
}

#Cel{

}
#Mac{

}
#Pc{

}

/* .terminos{
    top: 4088px;
    left: 543px;
    width: 831px;
    height: 25px;
    position: absolute;
    color: #FFFFFF;
    font-family: 'lightFont';
    font-size: ;
} */

