@font-face {
    font-family: 'SemiboldFont';
    src: url('./../fonts/OpenSans-SemiBold.ttf');
  }
  
@font-face {
    font-family: 'RegularFont';
    src: url('./../fonts/OpenSans-Regular.ttf');
}

.background {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 1200px;
  position: absolute;
  background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
}
.background1 {
  top: 200px;
  left: 100px;
  width: 1400px;
  height: 800px;
  border: 1px solid #707070;
  position: absolute;
  background-color: #FFFFFF;
}

.metrolinea1 {
  top: 243px;
  left: 143px;
  width: 196px;
  height: 44px;
  /*line-height: ;*/
  position: absolute;
  background: transparent url('./../recursos/metrolinea.png') 0% 0% no-repeat padding-box;
}

.texto1 {
  top: 240px;
  left: 800px;
  width: 230px;
  height: 41px;
  position: absolute;
  font-family: 'RegularFont';
  font-size: 30px;
  text-align: left;
}

.texto2 {
  top: 242px;
  left: 1072px;
  width: 132px;
  height: 41px;
  position: absolute;
  font-family: 'RegularFont';
  font-size: 30px;
  text-align: left;
}

.underlined {

}

.search {

}

.carrito {

}

.tarjeta {

}

.comprar {

}

.sidebar {

}

.up {

}

.cantidad {

}

.down {
    
}