@font-face {
    font-family: 'SemiboldFont';
    src: url('./../fonts/OpenSans-SemiBold.ttf');
  }
  
@font-face {
    font-family: 'RegularFont';
    src: url('./../fonts/OpenSans-Regular.ttf');
}

.background {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 1200px;
  position: absolute;
  background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
}
.background1 {
  top: 200px;
  left: 100px;
  width: 1400px;
  height: 800px;
  position: absolute;
  background-color: #FFFFFF;
}

.metrolinea1 {

}

.texto1 {

}

.texto2 {

}

.underlined {

}

.search {

}

.carrito {

}

.tarjeta {

}

.comprar {

}

.sidebar {

}

.up {

}

.cantidad {

}

.down {
    
}