@font-face {
    font-family: 'SemiboldFont';
    src: url('./../fonts/OpenSans-SemiBold.ttf');
  }
  
@font-face {
    font-family: 'RegularFont';
    src: url('./../fonts/OpenSans-Regular.ttf');
}

.background {

}
.background1 {

}

.metrolinea1 {

}

.texto1 {

}

.texto2 {

}

.underlined {

}

.search {

}

.carrito {

}

.tarjeta {

}

.comprar {

}

.sidebar {

}

.up {

}

.cantidad {

}

.down {
    
}